<div class="main">
    <div class="header">
        <h1>Mayor o Menor</h1>
    </div>


    <div class="content">

        <div class="container-juego">
            
            <div class="score">
                <h2>Puntaje: {{userPoints}}</h2>
            </div>
            
            <div class="display-card">
                <div class="cards">
                    <div class="card-face current-card">
                        @if (cards.length > 0 && currentCard){
                            <img [src]="currentCard.image" alt="">
                        }
                    </div>
                    <div class="card-fac to-guess">

                        @if(userGuessed){
                            <img [src]="nextCard?.image" alt="">
                        } 
                        @else {
                            <img [src]="backCardImage" alt="">
                        }
                    
                    </div>

                </div>
            </div>

            <div class="buttons">
                <button class="btn-mayor" (click)="handleUserGuess('higher')">Mayor +</button>
                <button class="btn-menor" (click)="handleUserGuess('lower')">Menor -</button>
            </div>

            <div class="leaderboard"></div>


        </div>

        <div class="popup">
            <app-popup
                *ngIf="state === 'win' || state === 'lose'"
                [state]="state"
                [points]="userPoints"
                
            ></app-popup>
        </div>


    </div>

</div>