/* Falta estilado pero sobra sueño */

.cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
}

.display-card img {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}