.juegos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px;
}

.card{
    background-color: rgb(74, 50, 207);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.centered{
    display:flex;
    justify-content: center;
}
.play-btn{
    color: white;
    background-color: rgb(4, 134, 2);
    border:none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms;
}
.play-btn:hover{
    background-color: rgb(2, 87, 1);
    transition: 300ms;
}
.play-btn:active{
    transform: scale(0.95);
}
.login-prompt{
    margin-top: 20px;
    font-weight: bold;
    color: rgb(230, 5, 5);
    width: 100%;
    text-align: center;
    background-color: rgb(87, 1, 1);
    padding: 10px;
    border-radius: 5px;
}