<div class="popup-container">
    <div class="popup" [ngClass]="{'won': state === 'win', 'lost': state === 'lose'}">
        @if (state === 'win'){
            <h2>¡Felicidades! Has ganado.</h2>
            <strong>Puntos conseguidos: {{points}}</strong>
        } 
        
        @if (state === 'lose'){
            <h2>Has perdido. ¡Inténtalo de nuevo!</h2>
            @if (correctAnswer) {
                <div class="card-reveal">
                    <p><strong>La respuesta correcta era:</strong></p>
                    <div class="answer-reveal">
                        <p class="correct-answer">{{correctAnswer}}</p>
                    </div>
                </div>
            }
            <strong>Puntos conseguidos: {{ points }}</strong>
        }
        <button (click)="nuevoJuego.emit()">Volver a intentar</button>
        <button routerLink="/">Volver al menú</button>
    </div>
</div>