<nav>
    <div class="nav-left">
        <div class="nav-logo">
            <img src="Dragon_Icon.png" alt="" width="80">
        </div>
        <label for="">GAMERoom</label>
        <div class="nav-buttons">
            <button class="nav-btn" routerLink="/">Juegos</button>
            <button class="nav-btn" routerLink="/quiensoy">Quien Soy</button>
            <button class="nav-btn" routerLink="/chat">Chat (test)</button>

        </div>
    </div>

    @if (supabase.user()) {
    <div class="nav-right">
        <span class="username"> {{ supabase.user()?.user_metadata?.['name'] }} </span>
        <button class="nav-btn" (click)="logout()">Cerrar Sesión</button>
    </div>
    }
    @else {
        <div class="nav-right">
            <button class="nav-btn" routerLink="/login">Iniciar Sesión | Registrarse</button>
        </div>
    }
</nav>