<div >
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="logForm">

        <label>Correo Electrónico: </label>
        <input type="email" formControlName="email" />
        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid){
            <div class="err-msg">
                @if (loginForm.get('email')?.errors?.['required']){
                    <small> Debe ingresar un correo electrónico</small>
                }
                @if (loginForm.get('email')?.errors?.['email']){
                    <small> El formato no es válido</small>
                }
            </div>
        }

        <label>Contraseña: </label>
        <input type="password" formControlName="password" />
        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid){
            <div class="err-msg">
                @if (loginForm.get('password')?.errors?.['required']){
                    <small> Debe ingresar una contraseña</small>
                }
                @if (loginForm.get('password')?.errors?.['minlength']){
                    <small> Minimo de 8 caracteres</small>
                }
            </div>
        }
        @if (supabase.error() == 'Correo electrónico o contraseña incorrectos.'){
            <div class="err-msg">
                <small>{{supabase.error()}}</small>
            </div>
        }
        <button type="submit" [disabled]="loginForm.invalid" class="btn">INGRESAR</button>
        
    </form>
    <div class="accesos-rapidos">
        <h3>Accesos rápidos</h3>
        <div class="buttons">
            <button value="gero." (click)="fastLog($event)" class="fast">Gero.</button>
            <button value="test" (click)="fastLog($event)" class="fast">Test</button>
            <button value="geronidos" (click)="fastLog($event)" class="fast">Geronidos</button>
        </div>
    </div>
</div>