
.grid-container {
    display: grid;
    /* 10 columnas con un tamaño fijo (ej: 30px) */
    grid-template-columns: repeat(10, 30px);
    /* 20 filas con un tamaño fijo (ej: 30px) */
    grid-template-rows: repeat(20, 30px);
    width: 310px;
    height: 650px;

    border: 4px solid black; 
    background-color: #6a7e58; /* Color de fondo similar al de tu imagen (verde oliva) */
    margin: 20px auto;
}

.grid-cell {
  width: 100%;
  height: 100%;
  padding: 2px;
  box-sizing: border-box; /* Asegura que el padding/borde no aumente el tamaño */
  border: 1px solid #7c946c; /* Borde interior de la celda */
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1); /* Sombra interior sutil */
  margin: 0 2px 2px 0;;

    &::after{
        margin: 2px;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        box-sizing: border-box;
        border: 1px solid #7c946c; /* Borde interior de la celda */
        background-color: rgba(0, 0, 0, 0.144);
    }

}

.grid-container .grid-cell {
    background-color: #6a7e58; /* Color base si el estado es 0 */
}
.color-1 {
   background-color: black;
   border: black 1px solid;
    &::after{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        background-color: black;
    } 
}