.main-container{
    background-color: darkslateblue;
    max-width: fit-content;
    padding: 30px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    border: 5px rgb(24, 156, 189) solid;
}

.perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.miFoto{
    border-radius: 50%;
    border: 5px rgb(24, 156, 189) solid;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.459);
}

.content {
    padding:20px;
    background-color: rgba(0, 0, 0, 0.185);
}